<section>
    
    <div class="container">
      <div class="row mt-2">
          <h2>Contents</h2>
            {{!-- <a href="/worker/addwork" class="btn btn-success ml-auto" style="height: 28px;">Add product</a> --}}
        </div>
    <table class="table" id="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      {{!-- <th scope="col">Description</th> --}}
      <th scope="col">Image</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each work12}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      {{!-- <td>{{this.Description}}</td> --}}
      <td><img style="width: 50px;height: 50px" src="/images/content/{{this._id}}.png" alt=""></td>
      <td>
        <a href="/worker/view/{{this._id}}" class="btn btn-primary">view</a>
         
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
<script>
$( function () {
    $('#table').DataTable();
} );
</script>