<section>

    <div class="container" id="table_id">
        <div class="row mt-2">
            <h2>{{content.works.Name}}</h2>
            <br>
            <hr>
            <img src="/images/work/{{content._id}}.png" alt="" style="height: 250px;width:250px;">
            <br>
            <hr>
            <p>{{content.works.Description}}</p>
            <p>Estimate price</p>
            <p>{{content.works.Price}}</p>
            <a href="/request/{{content._id}}" class="btn btn-primary">request</a>


        </div>
    </div>
</section>