<section>
    <div class="container">
  <div class="row">
      <div class="col-md-12 p-2 ">
          <h2>Confirmed work Details</h2>
         <h1>Name:{{content.Name}}<br>
            Category: {{content.Category}} <br>
            Description: {{content.Description}} <br>
            Price: {{content.Price}} <br>
            Starting date:{{content.S_date}} <br>
            <hr>
            Customer Name:{{content.C_Name}} <br>
            Customer Address:{{content.C_Address}} <br>
            Customer Phone:{{content.C_Phone}} <br>
            <hr>
            worker Name:{{content.W_Name}} <br>
            worker Address:{{content.W_Address}} <br>
            worker Phone:{{content.W_Phone}} <br>
            worker Email:{{content.W_Email}} <br>
            </h1>
      </div>            
  </div>
</section>