<section>

    <div class="container" id="table_id">
        
            <div>
            <h2>{{content.works.Name}}</h2></div>
            <br>
            <br>
            <br>
            <p></p>
            <div class="ml-10">
            <img src="/images/work/{{content._id}}.png" alt="" style="height: 250px;width:250px;">
            </div>
            
            <br>
            <p>{{content.works.Description}}</p>
             <p>Estimate price</p>
            <p>{{content.works.Price}}</p>
            <br>
            <br>
            <a href="/request/{{content._id}}" class="btn btn-primary">request</a>


       
    </div>
</section>

   